[submodule "dir_colors/dircolors-solarized"]
	path = dir_colors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "oh-my-zsh-powerline-theme"]
	path = oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
